.dropzone{
    width: 100%;
    height: 200px;
    background-color: rgba(226, 226, 226, 0.1);
    border-style: dashed;
    border-color: rgba(170, 170, 170, 0.1);
    border-radius: 10px;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
}

.input-field{
    border-bottom-style: solid;
    border-bottom-color: rgba(195, 195, 195, 0.1);
    border-bottom-width: 2px;
    margin-bottom: 8px;
    padding-bottom: 4px;
}

label{
    color: gray;
    display: inline-block;
    width: 200px;
}

.textfield{
    display: inline-block;
    margin-top: 10px;
}

.data-preview{
    color: gray;
}

input{
    min-width: 350px;
}

.default-btn{
    color: white;
    background-color: rgb(51, 170, 51);
    border: none;
    border-radius: 5px;
    min-width: 130px;
    min-height: 40px;
    margin: 0px 20px;
    font-weight: bold;
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 40px;
}

.reload-btn{
    color: white;
    background-color: rgb(51, 152, 170);
    border: none;
    border-radius: 5px;
    min-width: 130px;
    min-height: 40px;
    margin: 0px 20px;
    font-weight: bold;
    position: fixed;
    right: 230px;
    bottom: 20px;
    padding: 10px 40px;
}

.array-group{
    padding: 10px;
    background-color: rgba(200, 200, 200, 0.05);
    margin-bottom: 10px;
}